// Wrapper for the slide container and indicators
.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: visible;

  > .carousel-item {
    position: relative;
    display: none;
    transition: .6s ease-in-out left;

    // Account for jankitude on images
    > img,
    > a > img {
      @extend .img-fluid;
      line-height: 1;
    }

    // WebKit CSS3 transforms for supported devices
    @media all and (transform-3d), (-webkit-transform-3d) {
      transition: transform .6s ease-in-out;
      backface-visibility: hidden;
      perspective: 1000px;

      &.next,
      &.active.right {
        left: 0;
        transform: translate3d(100%, 0, 0);
      }
      &.prev,
      &.active.left {
        left: 0;
        transform: translate3d(-100%, 0, 0);
      }
      &.next.left,
      &.prev.right,
      &.active {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  > .active,
  > .next,
  > .prev {
    display: block;
  }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }
}


//
// Left/right controls for nav
//


.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: white;
  top: 100px;
  padding-top: 1px;
}

.carousel-control-prev {
  padding-left: 5px;
  left: 15px;
}

.carousel-control-next {
  padding-left: 8px;
  right: 15px;
}


// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.



// Optional captions
//
// Hidden by default for smaller viewports.

.carousel-caption {
  position: absolute;
  right: ((100% - $carousel-caption-width) / 2);
  bottom: 20px;
  left: ((100% - $carousel-caption-width) / 2);
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $carousel-caption-color;
  text-align: center;
  text-shadow: $carousel-text-shadow;

  .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}


//
// Responsive variations
//

@include media-breakpoint-up(sm) {
  // Scale up the controls a smidge
  .carousel-control {
    .icon-prev,
    .icon-next {
      width: $carousel-control-sm-up-size;
      height: $carousel-control-sm-up-size;
      margin-top: -($carousel-control-sm-up-size / 2);
      font-size: $carousel-control-sm-up-size;
    }
    .icon-prev {
      margin-left: -($carousel-control-sm-up-size / 2);
    }
    .icon-next {
      margin-right: -($carousel-control-sm-up-size / 2);
    }
  }

  // Show and left align the captions
  .carousel-caption {
    right: ((100% - $carousel-caption-sm-up-width) / 2);
    left: ((100% - $carousel-caption-sm-up-width) / 2);
    padding-bottom: 30px;
  }

  // Move up the indicators
  .carousel-indicators {
    bottom: 20px;
  }
}
